body {

    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/008/311/935/small/the-illustration-graphic-consists-of-abstract-background-with-a-blue-gradient-dynamic-shapes-composition-eps10-perfect-for-presentation-background-website-landing-page-wallpaper-vector.jpg);
    background-size: cover;
}

h1 {

    color: green;
    text-align: center;
}

ul {

    list-style-type: square;
}

