body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: blue;
    color: white;
}

.cabecalho {

    
}

header {
    display: flex;
    background-color: lightblue;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

header nav li {
    text-align: center;
}