body {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    background-image: url(cr7.png);
    background-size: cover;
    background-attachment: fixed;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    margin: 0;
    color: white;
}

.icone {

    width: 60px;
    height: 60px;

    border-radius: 50%;

    object-fit: cover;
    display: inline-block;
}


h1 {
    transition: 0.3s;
}

h1:hover {

    color: white;
}

h1 a {

    text-decoration: none;
}


.cabecalho {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background-color: #8b5e3c;
    gap: 12px;
}

.cabecalho h1 {

    margin: 0;
    font-size: 40px;
    color: bisque;

    transition: 0.3s;

    display: flex;
    align-items: center;

    gap: 12px;
}

.cabecalho h1 a:hover {

    color: white;
}

.menu {
    display: flex;
    gap: 25px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu a {

    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 0.3s;
}

.menu a:hover {

    color: red;
}

.menu li {
    display: inline;
    margin: 10px;
    font-size: large;
}

.inicio {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #2c3e50, #1a252f);

    padding: 80px;

    flex-wrap: wrap;
}

.inicio-texto {

    max-width: 500px;
}

.inicio-texto p {

    font-size: 28px;
    line-height: 1.5;
}

.inicio-imagem img {

    width: 500px;
    max-width: 100%;
    border-radius: 18px;
}

.botao {

    display: block;
    
    margin-top: 20px;
    padding: 15px 20px;

    background-color: bisque;
    color: black;

    text-decoration: none;
    font-weight: bold;
    text-align: center;

    border-radius: 10px;

    transition: 0.3s;
}

.botao:hover {

    transform: scale(1.05);
    background-color: white;
}

.info {

    padding: 80px;
    background: linear-gradient(135deg, #f5e6d3, #d9c2a3);

    display: flex;
    justify-content: space-between;

    gap: 60px;

    align-items: flex-start;

    color: #2c2c2c;

    text-align: center;

    flex: 1;
}

.info h2 {

    font-size: 42px;

    color: #8b5e3c;

    margin-top: 50px;
}

.info p {

    font-size: 22px;
    line-height: 1.7;

    max-width: 900px;
    margin: auto;
}

.info ol {

    list-style: none;
    padding: 0;
}

.info li {

    font-size: 22px;
    margin: 10px 0;

    font-weight: bold;
}

.bloco {
    flex: 1
}


.fundadores {

    padding: 80px;
    background: linear-gradient(135deg, #2c3e50, #1a252f);

    text-align: center;
    color: white;
}

.fundadores h2 {

    color: bisque;
    font-size: 45px;
    margin-bottom: 50px;
}

.cards {

    display: flex;
    justify-content: center;
    gap: 40px;

    flex-wrap: wrap;
}

.card {

    background-color: rgba(255, 255, 255, 0.08);

    width: 300px;
    padding: 25px;

    border-radius: 20px;

    transition: 0.3s;  
}

.card:hover {

    transform: translateY(-5px);
}

.card img {

    width: 100%;
    height: 250px;

    object-fit: cover;

    border-radius: 15px;

    margin-bottom: 20px;
}

.card h3 {

    font-size: 28px;

    color: bisque;
}

.card p {

    font-size: 18px;
    line-height: 1.6;
}

.venda {

    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 80px;

    background: linear-gradient(135deg, #2c3e50, #1a252f);
}


.venda-box {
    
    width: 100%;
    max-width: 500%;

    background-color: black;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

form {

    display: flex;
    flex-direction: column;

    gap: 20px;
}

input,
select,
textarea {

    padding: 15px;

    border: none;

    border-radius: 10px;

    font-size: 16px;

    
}

textarea {

    height: 120px;
}

button {

    padding: 15px;

    border: none;
    border-radius: 10px;

    background-color: bisque;
    color: black;
    font-weight: bold;
    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;
}


button:hover {

    transform: scale(1.03);

    background-color: white;
}

.renan {

    width: 500px;
    max-width: 100%;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    
    
}

.extra {

    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: black;
}

.texto {

    text-align: center;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    
}

.direitos {

    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: auto;
}



