body{
    background-color: rgb(252,237,228);
    font-family: Arial, Helvetica, sans-serif;
     font-size: 12px;    /* número inteiro+unidade, a unidade pode ser px, em, rem, % ...
     rem é mais responsivo */
    
}

li{
     margin: 0 1rem;    /* quando tem 2 valores, 1 valor é top e bottom
     o 2 valor é direita e esquerda */
     background-color: aquamarine;
     display: inline-block
    /* o comportamento do li é 'block'
    o comportamento do a é 'inline' */
}
li a{ /* seletor específico */
    background-color: black;
    color: white;
    display: inline-block;
    padding: 1rem 2rem;
}
a:hover{ 
    /* :hover é uma subclasse do css
    efeito de passar o mouse*/
    color: blueviolet
}

